.dashboard-container{
min-height:100vh;
width:100%;
overflow-x:hidden;
padding:40px;
background:linear-gradient(
180deg,
#001133,
#000814
);
color:white;
}

.dashboard-title{
font-size:55px;
font-weight:bold;
color:white;
text-shadow:
0 0 20px #2196f3;
}

.dashboard-subtitle{
color:#7db7ff;
margin-bottom:40px;
}

.stats-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
margin-bottom:40px;
}

.stat-card{

background:
rgba(
14,
30,
64,
0.8
);

padding:30px;

border-radius:25px;

display:flex;

gap:20px;

align-items:center;

cursor:pointer;

border:
1px solid rgba(
255,
255,
255,
0.1
);

transition:.5s;

backdrop-filter:blur(15px);

}

.stat-card:hover{

transform:
translateY(-10px)
scale(1.05);

box-shadow:

0 0 40px
#1976d2;

}


.summary-card{

background:

rgba(
14,
30,
64,
0.85
);

padding:30px;

border-radius:25px;

margin-bottom:30px;

transition:.4s;

}

.summary-card:hover{

transform:scale(1.02);

box-shadow:

0 0 30px
#1976d2;

}

.summary-header{

display:flex;

gap:10px;

font-size:30px;

font-weight:bold;

margin-bottom:20px;

}


.summary-output{

padding:20px;

background:

rgba(
255,
255,
255,
0.05
);

border-radius:20px;

margin-top:20px;

line-height:1.8;

}


.graph-card{

background:

rgba(
14,
30,
64,
0.85
);

padding:30px;

border-radius:25px;

transition:.5s;

}

.graph-card:hover{

box-shadow:
0 0 30px
#1976d2;

}